<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/just-a-site/css/main.css">
		</head>
	<body>
		<nav>
			<ul>
			<li><a href="/just-a-site/">Home</a></li>
			<li><a href="/just-a-site/about">About Me</a></li>
			<li><a href="/just-a-site/projects">Projects</a></li>
			<li><a href="/just-a-site/publications">Publications</a></li>
			<li><a href="/just-a-site/blog">Blog</a></li>
			<li><a href="/just-a-site/cv">CV</a></li>
			</ul>
		</nav>
		<div class="container">

			{{ content }}

		</div><!-- /.container -->
		<footer>
			<ul>
				<li><a href="mailto:ranjanmaji@gmail.com">email</a></li>
				<li><a href="https://www.researchgate.net/profile/Ranjan_Maji">ResearchGate</a></li>
				<li><a href="">Google Scholar Pages</a></li>
				<li><a href="https://github.com/ranjanmaji">github.com/ranjanmaji</a></li>
			</ul>
		</footer>
	</body>
</html>
